{% extends "layout.html" %}

{% block content %}
  <h1>{{ page.title }} <small> (<a href="PLACEHOLDER_URL_TITLE/similar">Similar</a>)</small></h1>
  <h4>by <a href="{{ page.route }}">{{ page.author.name }}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div class="page-body">{{ page.content }}</div>
  <hr/>
  <a href="{{ page.route }}/edit" class="btn btn-primary">edit this page</a> <!-- route is a virtual prop on model in /models/index.js -->
  <a href="{{ page.route }}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
